*.iws
*.iml
*.ipr
build
assets-index
assets-index-mini
js_box
.vsphpignore
*.phpproj
tags
.cache
.externalToolBuilders
.project
/.idea
.settings
downloads
tg_disk
*.swp
*.swo
tools/link_commands.sh
core.*
.dtredo
test/taf/box-taf/src/main/resources/*.properties
.DS_Store
db/cache/*
How_To_Ifdef_Code_In_PHP_Test.log
sftp-config.json
private/
.phutil_module_cache
__phutil_library_init__.php
__phutil_library_map__.php
_assets
/webgrind
/xdebug/
node_modules/
npm-debug.log

src/js/compiled
