@import url(http://fonts.googleapis.com/css?family=Lato);

/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background-size: cover;
    background-position: center, center;
    font-family: Lato, sans-serif;
    padding-top: 50px;
}

header {
    background: rgba(0, 0, 0, 0.7);
    height: 50px;
    left: 0;
    line-height: 50px;
    padding: 0 10px;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
}

header input,
header h1 {
    background: transparent;
    border: 0;
    bottom: 0;
    color: #fff;
    display: inline;
    left: 10px;
    position: absolute;
    top: 0;
    vertical-align: middle;
}

nav {
    padding: 10px;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 2px;
    color: #263238;
    font-size: 12px;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.2s;
}
button:hover {
    background-color: #455a64;
    color: #fff;
}
button:active {
    background-color: #37474f;
    color: #fff;
}

.get-share-link {
    color: #fff;
}
.get-share-link:hover {
    background-color: #4dd0e1;
    color: #006064;
}
.get-share-link:active {
    background-color: #80deea;
    color: #006064;
}

.board {
    white-space: nowrap;
    padding: 10px;
}

.board .column {
    background: #ddd;
    border-radius: 5px;
    display: inline-block;
    /*flex: 0 0 250px;*/
    margin-right: 10px;
    padding: 10px;
    position: relative;
    vertical-align: top;
    width: 250px;
    z-index: 2;
}

.column h1,
.column h1 + input {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.column .cards {
    margin-bottom: 10px;
    min-height: 40px;
}

.column .cards:empty {
    border: 2px dashed #ccc;
    border-radius: 5px;
}

.add-card-textbox,
.column .card {
    background: #fff;
    border: 1px solid #aaa;
    border-bottom-width: 2px;
    border-radius: 3px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    white-space: normal;
    width: 100%;
    z-index: 5;
}

.card .charms {
    color: #999;
}

.card[data-has-image] {
    background-size: cover;
    background-position: center center;
    padding-top: 200px;
}
.card[data-has-image] span {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
}
.card[data-has-image]:not([data-has-color]) span {
    color: #fff;
}

/********************************************************************/

[data-draggable] {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transform: rotate(0);
    -webkit-transform: rotate(0);
    transition: box-shadow 0.3s, transform 0.2s;
    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.2s;
    z-index: 5;
}

.ui-sortable-helper {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    transform: rotate(5deg);
    -webkit-transform: rotate(3deg);
}

/********************************************************************/

.popup-wrapper:before {
    background: rgba(0, 0, 0, 0.75);
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

.popup {
    background: #fff;
    border-radius: 3px;
    bottom: 0;
    height: 400px;
    left: 0;
    margin: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    z-index: 10;
}

.popup .close-button {
    color: inherit;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: color 0.2s;
}
.popup .close-button:hover {
    color: blue;
    text-decoration: none;
}

.popup h1 {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


.popup label {
    display: block;
    line-height: 25px;
}
.popup label > span {
    display: inline-block;
    padding-right: 10px;
    text-align: right;
    width: 30%;
}

.popup input,
.popup textarea {
    background: transparent;
    border: 1px dashed #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
}
.popup [data-prop=title] {
    display: block;
    width: 85%;
}
.popup [data-prop=description] {
    display: block;
    width: 95%;
}

.popup hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 10px 0;
}

.color-picker {
    display: inline-block;
}
.color-picker span {
    border: 1px solid #999;
    border-radius: 15px;
    display: inline-block;
    height: 15px;
    transition: transform 0.1s;
    -webkit-transition: -webkit-transform 0.1s;
    transform: scale(1, 1);
    width: 15px;
    vertical-align: middle;
}
.color-picker span:not(.selected):hover {
    border: 1px solid #999;
    border-radius: 15px;
    display: inline-block;
    height: 15px;
    transform: scale(1.4, 1.4);
    width: 15px;
    vertical-align: middle;
}
.color-picker span.selected {
    border: 2px solid #666;
}
